openapi: 3.0.1
info:
  title: Pennylane Company Account Change Events API
  description: Pennylane is a French financial and accounting operating system for SMEs and accounting firms. The Company API (v2) lets companies, firms, and integration partners access and sync invoicing, accounting, banking, and financial data, and automate end-to-end workflows. V2 is the stable version; V1 is deprecated.
  termsOfService: https://pennylane.readme.io/docs/api-contract-terms
  contact:
    name: Pennylane API Support
    url: https://pennylane.readme.io/docs/how-to-reach-out-to-us
  version: '2.0'
servers:
- url: https://app.pennylane.com/api/external/v2
  description: Production (v2)
security:
- bearerAuth: []
tags:
- name: Change Events
paths:
  /customer_invoices/changes:
    get:
      operationId: getCustomerInvoicesChanges
      tags:
      - Change Events
      summary: Get customer invoice change events
      description: 'Returns the list of changes from the provided start_date (last 4 weeks retained), ordered by processed_at ASC. Requires scope: customer_invoices:readonly or customer_invoices:all.'
      parameters:
      - name: start_date
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
  /supplier_invoices/changes:
    get:
      operationId: getSupplierInvoicesChanges
      tags:
      - Change Events
      summary: Get supplier invoice change events
      parameters:
      - name: start_date
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer token in the Authorization header. The token may be a Company API token, a Firm API token, or an OAuth 2.0 access token obtained via https://app.pennylane.com/oauth/authorize and /oauth/token.
