openapi: 3.0.1
info:
  title: Pennylane Company Account Billing Subscriptions API
  description: Pennylane is a French financial and accounting operating system for SMEs and accounting firms. The Company API (v2) lets companies, firms, and integration partners access and sync invoicing, accounting, banking, and financial data, and automate end-to-end workflows. V2 is the stable version; V1 is deprecated.
  termsOfService: https://pennylane.readme.io/docs/api-contract-terms
  contact:
    name: Pennylane API Support
    url: https://pennylane.readme.io/docs/how-to-reach-out-to-us
  version: '2.0'
servers:
- url: https://app.pennylane.com/api/external/v2
  description: Production (v2)
security:
- bearerAuth: []
tags:
- name: Billing Subscriptions
paths:
  /billing_subscriptions:
    get:
      operationId: getBillingSubscriptions
      tags:
      - Billing Subscriptions
      summary: List billing subscriptions
      description: 'Requires scope: billing_subscriptions:readonly or billing_subscriptions:all.'
      responses:
        '200':
          description: OK
    post:
      operationId: postBillingSubscriptions
      tags:
      - Billing Subscriptions
      summary: Create a billing subscription
      description: 'Pennylane generates the customer invoice each month. Requires scope: billing_subscriptions:all.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer token in the Authorization header. The token may be a Company API token, a Firm API token, or an OAuth 2.0 access token obtained via https://app.pennylane.com/oauth/authorize and /oauth/token.
