openapi: 3.0.1
info:
  title: Pennylane Company Account Supplier Invoices API
  description: Pennylane is a French financial and accounting operating system for SMEs and accounting firms. The Company API (v2) lets companies, firms, and integration partners access and sync invoicing, accounting, banking, and financial data, and automate end-to-end workflows. V2 is the stable version; V1 is deprecated.
  termsOfService: https://pennylane.readme.io/docs/api-contract-terms
  contact:
    name: Pennylane API Support
    url: https://pennylane.readme.io/docs/how-to-reach-out-to-us
  version: '2.0'
servers:
- url: https://app.pennylane.com/api/external/v2
  description: Production (v2)
security:
- bearerAuth: []
tags:
- name: Supplier Invoices
paths:
  /supplier_invoices:
    get:
      operationId: getSupplierInvoices
      tags:
      - Supplier Invoices
      summary: List supplier invoices
      description: 'Requires scope: supplier_invoices:readonly or supplier_invoices:all.'
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Filter'
      responses:
        '200':
          description: OK
  /supplier_invoices/import:
    post:
      operationId: importSupplierInvoice
      tags:
      - Supplier Invoices
      summary: Import a supplier invoice with a file attached
      description: 'Requires scope: supplier_invoices:all.'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /supplier_invoices/{id}:
    get:
      operationId: getSupplierInvoice
      tags:
      - Supplier Invoices
      summary: Retrieve a supplier invoice
      parameters:
      - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: OK
    put:
      operationId: putSupplierInvoice
      tags:
      - Supplier Invoices
      summary: Update a supplier invoice
      parameters:
      - $ref: '#/components/parameters/PathId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
  /supplier_invoices/{id}/validate_accounting:
    put:
      operationId: validateAccountingSupplierInvoice
      tags:
      - Supplier Invoices
      summary: Validate the accounting of a supplier invoice
      description: Turn the supplier invoice into a Complete state.
      parameters:
      - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: OK
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Page size.
      schema:
        type: integer
        default: 100
    PathId:
      name: id
      in: path
      required: true
      description: Internal Pennylane resource id (v2 uses internal ids only, not source_id).
      schema:
        type: integer
    Filter:
      name: filter
      in: query
      required: false
      description: JSON filter expression applied on listing endpoints.
      schema:
        type: string
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor for cursor-based pagination.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer token in the Authorization header. The token may be a Company API token, a Firm API token, or an OAuth 2.0 access token obtained via https://app.pennylane.com/oauth/authorize and /oauth/token.
